.custom-font{ font-family: "Open Sans","open-sans",Arial,"Helvetica Neue",sans-serif; }



/*Navigation*/
.navbar-inverse {
    background: #007dc6;
    border-color: #007dc6;
}

.navbar-inverse .navbar-nav>li>a { color: #fff; }

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus { background-color: #79b9e7;}


.logo {
    background-image: url('../img/walmartlogo.png');
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 164px;
    height: 41px;
    vertical-align: middle;
    margin-top: 4px;
    margin-right: 20px;
}
.margin-btm-10 { margin-bottom: 10px; }
.margin-btm-20 { margin-bottom: 20px; }

.header-wrap{
    background-color: #e0e0e0;
    padding:10px;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #e0e0e0;
}

.header-wrap h1 {font-size: 30px; padding: 0; margin: 0;}

.custom-search {
    background: #e0e0e0;
    border-radius: 6px;
    margin-top:72px;
    padding:10px 20px 20px;
}
.custom-search .col-xs-8 { margin-left: 21px; }
.custom-search .form-group { margin-bottom: 36px; }

/*Data tables*/
td.details-control {
    cursor: pointer;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #007dc6;
    font-size: 12px;
}
td.details-control:before {
    content: "\2b";
}

tr.details td.details-control {
    background: url('') no-repeat center center;
}

.custom-data-table {
    margin-top: 10px;
    width: 700px;
    margin-left: 35px;
}
.dataTables_wrapper { width: 750px; margin-left: 15px; }
.dataTables_length, .dataTables_filter { display: none !important;}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td
{ border-top: none; }

table.dataTable thead {  background:  #e0e0e0; }

table.dataTable thead tr th:first-child { border-top-left-radius: 6px; }
table.dataTable thead tr th:last-child {  border-top-right-radius: 6px; }

table.dataTable tfoot {  display: none; }

.dataTables_info, .dataTables_paginate { margin-top: 40px; }
/*form styles*/

.formwrap{
    margin:0 auto;
    border-radius: 5px;
    padding-top:100px;
    padding-bottom:100px;
}

.upload-form {
    border:2px solid #fff;
    padding:0 500px;
}


input.file {
    height:40px;
    position: relative;
    text-align: right;
    -moz-opacity:10 ;
    filter:alpha(opacity: 10);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    background-color:transparent;
    opacity: 0;
    color:transparent;
    z-index: 2;

}
#upload-button{
    background:#0088cc;
    color:#fff;
    border-radius:5px;
    margin-top:20px;

}
/*cpconfigs*/
.btn-create {

    margin-left: 100px;
    margin-left: 161px;
    padding: 5px 30px;
    font-size: 20px;
    color: #f7f7f7;
}
.btn-create:hover {color:#f7f7f7; }
.form-group label:first-child { width: 150px; text-align: left;}

.hide { display: none; }
